.field {
  margin: 10px;

  span {
    margin-right: 10px;
  }
}

.panel {
  display: grid;
  grid-template-rows: repeat(5, auto);
  grid-template-columns: 400px 400px auto;
  grid-auto-flow: column;
  .third {
    grid-column: 3;
  }
}